html {
  font: 1.2em/1.2 monospace;
}
body {
  max-width: 80ch;
  padding: 1ch;

  -webkit-text-size-adjust: 200%;
     -moz-text-size-adjust: 200%;
      -ms-text-size-adjust: 200%;
          text-size-adjust: 200%;
}

* {
  margin-bottom: 0;
}
*::before,
*::after {
  font-weight: normal;
  font-size: 1rem;
  speak: none;
}

/* Color palette borrowed from
 * https://www.emacswiki.org/emacs/RainbowDelimiters
 *
 * #707183 #7388d6 #909183 #709870 #907373
 * #6276ba #858580 #80a880 #887070
 */
body >         *::before, body >         *::after { color: #707183; }
body >       * *::before, body >       * *::after { color: #7388d6; }
body >     * * *::before, body >     * * *::after { color: #709870; }
body >   * * * *::before, body >   * * * *::after { color: #907373; }
body > * * * * *::before, body > * * * * *::after { color: #858580; }

header::before {
  content: '(header';
  margin-left: -7ch;
}
header {
  margin-top: 1rem;
  padding-left: 7ch;
}

section::before {
  content: '(section';
  margin-left: -8ch;
}
section {
  margin-top: 1rem;
  padding-left: 8ch;
}

footer::before {
  content: '(footer';
  margin-left: -7ch;
}
footer {
  padding-left: 7ch;
  margin-bottom: 1rem;
}

address::before {
  content: '(address ';
  margin-left: -9ch;
}
address {
  padding-left: 9ch;
}

h1::before {
  content: '(h1 ';
}
h1 {
  margin-bottom: 1rem;
}
h2::before {
  content: '(h2 ';
}
h1,h2 {
  margin-top: 0;
}
h2 a {
  text-decoration: none;
}
h2:hover a::before {
  content: "\00B6";/* pilcrow */
}

h1 rt, h1 rt::before {
  color: Firebrick;
}
h1 ruby:first-child rt::before {
  content: ";; ";
  margin-left: -5ch;
}

p::before {
  content: '(p ';
  margin-left: -3ch;
}
p {
  margin-top: 1rem;
  padding-left: 3ch;
}
p:first-child {
  margin-top: 0;
}

span::before {
  content: '(span ';
}

code {
  background: #eee;
}

hr {
  border: none;
  overflow: hidden;
  position: relative;
  margin: 1rem 0;
  text-align: left;
}
hr::before {
  content: '(hr      )';
  width: 4ch;
  display: block;
  word-wrap: break-word;
}
hr::after {
  content: '"--------------------------------"';
  padding-left: 1ch;
  position: absolute;
  margin-top: -2.4em;
  color: Firebrick;
}

ul::before {
  content: '(ul';
  margin-left: -3ch;
}
ul {
  padding-left: 3ch;
  list-style: inside none;
}

li::before {
  content: '(li ';
}
li p {
  padding-left: 7ch;
  margin-top: 0;
}

header::after,
section::after,
footer::after,
address::after,
h1::after,
h2::after,
p::after,
span::after,
ul::after,
li::after {
  content: ')';
}

header::after,
section::after,
footer::after,
address::after,
p::after,
ul::after {
  margin-left: -1ch;
}

.tag {
  color: #999;
}

.tag::before {
  content: ':';
}

.tag::after {
  content: ' t';
  color: black;
}

@media (prefers-color-scheme: dark) {
  body {
    background: #333;
    color: #ccc;
  }

  :link {
    color: #99f;
  }
  :visited {
    color: #b0f;
  }

  code {
    background: #666;
  }
}
