* {
	font-family: Verdana, Arial, Helvetica, sans-serif;
	color: #003300;
	margin: 0;
}

body {
	background: #0e2500;
	text-align: center;
}
h2,h3 {
	color: #8DDC60;
	font-weight: normal;
	margin-bottom: 0.7ex;
}
h1 {
	font-size: 50px;
	color: #030700;
	font-weight: normal;
	margin-left: 30px;
	margin-bottom: 0px;
}
h2 {
	font-size: 30px;
}
h3 {
	font-size: 20px;
	margin-left: 130px
}
p {
	margin-bottom: 0.7ex;
	font-size: 12px;
}
a {
	font-family: "Courier New", Courier, monospace;
	color: #009999;
}
#main {
	text-align: left;
	margin: 0 auto;
	padding: 10px 0;
	background: #e6f3de;
	border-left: solid 4px #666600;
	border-right: solid 4px #666600;
	border-bottom: solid 4px #666600;
	max-width: 900px;
	min-width: 700px;
	width: 90%;
}
#footer {
	text-align: center;
	margin: 0 auto;
	padding: 5px 0;
	background: #666600;
	border-left: solid 4px #666600;
	border-right: solid 4px #666600;
	width: 500px;
}
h2 .line {
	width: 90px;
	height: 7px;
	display: block;
	float: left;
	background: #8ddc60;
	margin: 22px 10px 0 30px;
}
/*.line {
	width: 90px;
	height: 0.5ex;
	display: block;
	float: left;
	background: #8ddc60;
	margin: 1.3ex 10px 0 30px;
}*/
.col1 {
	width: 110px;
	display: block;
	float: left;
	margin-left: 10px;
	text-align: right;
	text-transform: lowercase;
}
.col2 {
	margin-left: 130px;
	margin-right: 10px;
}
.subtitle {
	margin-left: 30px;
	margin-bottom: 20px;
	font-size: 15pt;
	color: #006666;
}

.dontshow {
	display: none;
}
